.navbar_items{
  position: sticky;
  top:0;
  z-index: 999;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 8vh;
    color: white;
    background-color: #000037;
  margin-top: 0px;
}
.logo{
  font-size: 28px;
  font-weight: 800;
}
.navbar_items_list{
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.navbar_items_list a{
  text-decoration: none;
  color: white;
}

.hamburger{
    display: none;
}
.navbar_items_list p{
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 18px;
    width: 60px;
    text-align: center;
    transition: ease-in-out 0.2s;
}
.navbar_items_list p:hover{

    color: #0DB3B1;
}
.navbar_cart_item {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid black;
    border-radius: 999rem;
    padding: 5px 15px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    overflow: hidden;
    color: black;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .navbar_cart_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .navbar_cart_item:hover::before {
    transform: translateX(0);
  }
  
  .navbar_cart_item:hover {
    color: white;
  }
  .navbar_cart_item:hover svg path {
    fill: white;
  }
  
  .navbar_cart_item > * {
    position: relative;
    z-index: 1;
  }
  
  @media (max-Width:1080px) {
    .navbar_items{
      
        padding: 10px 50px;
    }
  }
  @media (max-Width:768px) {
    .navbar_items{
        padding: 10px 20px;
    }
    
    .hamburger {
        display: block;
        position: relative;
    }
    
    .navbar_items_list {

        gap: 20px;
        position: absolute;
     
        transform: translateY(-60px);
        transition: transform 0.3s ease-in-out;
    }
    
    .navbar_items_list.toggled {
       
        transform: translateY(60px);
    }
  }
  @media(max-width:400px){
   .navbar_items{
    padding: 10px 0px;
    width: 100%;
   }
   .navbar_items_list{
    width: 95%;
   }
  }